body {
	color: #202020;
	background-color: #f5f5dc;
	font-family: Nunito, sans-serif;
	text-transform: lowercase;
	font-size: 30px;
	font-weight: 500;
	margin: 50px 50px 50px 50px;
}

h1 {
	font-size: 52px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 0px;
	margin: 10px 0px;
}

h2 {
	font-size: 42px;
	padding: 0px;
	margin: 0px;
	letter-spacing: 2px;
}

h3 {
	font-size: 40px;
	font-style: italic;
	color: #880808;
	padding: 0px;
	margin: 0px;
}

p {
	padding: 0px;
	margin: 0px;
	line-height: 40px;
}

hr {
	border: 5px solid #202020;
	border-radius: 10px;
	padding: 0px;
	margin: 0px;
}

img {
	width: 125px;
	height: 125px;
	border: 10px solid #202020;
	border-radius: 20px;
	margin: 5px 0px;
}

.section {
	padding: 0px;
	margin: 55px 0px;
	display: flex;
	flex-direction: row;
}

.left {
	width: 170%;
	height: auto;
	margin: 0% 3.5% 0% 0%;
}

.right {
	margin: 5.5% 0% 0% 0%;
}

.mini {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 65%;
}
